# Ignore build results
[Dd]ebug/
[Dd]ebugPublic/
[Dd]ist/
[Dd]evelopment/

# Ignore user-specific files
*.user
*.userosscache
*.suo
*.userprefs
*.csproj.user
.vscode/

# Ignore compiled code
*.dll
*.exe
*.so
*.dylib
*.vsidx
*.db
*.db-shm
*.db-wal
*.json
# Ignore ASP.NET temporary files
*.dbmdl
*.bak
*.backup
*.log
#Ignore appsettings files
appsettings.json
appsettings.Development.json
appsettings.Production.json
appsettings.Staging.json
appsettings.Local.json
appsettings.Test.json
#Ignore launchSettings files
launchSettings.json
#Ignore .NET Core SPA static files
ClientApp/dist/
#Ignore .NET Core SPA node_modules
ClientApp/node_modules/
#Ignore .NET Core SPA npm-debug.log
npm-debug.log
#Ignore .NET Core SPA ngrok.log
ngrok.log

# Ignore the Visual Studio for Mac configuration folder
.vscode/
.vs/
# Ignore npm packages (for Angular)
node_modules/

# Ignore any environment files
.env
